body {
    background-color: gray;
}
.content{
    background-color: black;
    display: grid;
    
    max-width: 960px;
    min-width: 960px;
    max-height: 960px;
    min-height: 960px;
}
.boxes{
    color:red;
    background-color: white;
    
    margin: 1px;
    
}